{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="is-horizontal-align row">
    <div class="col-6">
        <div class="card">
            <header><h4>Create new post</h4></header>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-1">
                        <p>Title</p>
                    </div>
                    <div class="col-11">
                        <input type="text" name="title" class="is-full-width"  required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <label for="text_body">Text</label>
                        <textarea id="text_body" name="body" rows="10" cols="60" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <input type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>Simonari, you need to login :)</p>
{% endif %}

{% endblock content %}