{% extends 'blog/base_detail.html' %}

{% block buttons %}
{% if user.is_authenticated %}
<hr>
<div class="is-right row">
    <form method="POST" class="col-2">
        {% csrf_token %}
        <input type="submit" class="button primary is-full-width" value="Edit">
    </form>
    <form method="POST" class="col-2"
    action={% url 'blog:change_post_status' post.published.year post.published.month post.published.day post.status post.slug %}>
        {% csrf_token %}
        <input type="submit" class="button secondary is-full-width" value="Draft">
    </form>
    <form method="POST" class="col-2"
    action={% url 'blog:delete_post' post.published.year post.published.month post.published.day post.status post.slug %} class="col-2">
    {% csrf_token %}
        <input type="submit" class="button error is-full-width" value="Delete">
    </form>
</div>
{% endif %}
{% endblock buttons %}