{% extends 'blog/base.html' %} 

{% block title %}My blog{% endblock %} 

{% block content %}
{% for post in posts %}
<div class="is-horizontal-align row">
    <div class="is-full-width col-6">
        <div class="card">
            <div class="row">
                <header>
                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                </header>
            </div>
            <div class="row">
                <p>{{ post.body | truncatewords:30 | linebreaks }}</p>
            </div>
            <div class="row">
                <p>Published on {{ post.published }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% include 'blog/pagination.html' with page=page_obj %} 
{% endblock content%}
